<%- include('header') -%>

<section id="content">
    <img id="content-logo" src="/static/img/logo_mrcoffee.png" alt="Mr. Coffee's logo with the text MR. COFFEE in black color">
    <h1>Welcome to Mr.Coffee schedule management website</h1>
    <section class="form-submit">
        <form method="POST" action="/register">
            <div>
                <label for="firstname">First Name</label>
                <input name="firstName" type="text" id="firstname" placeholder="Enter firstname">
            </div>

            <div>
                <label for="lastname">Last Name</label>
                <input name="firstName" type="text" id="lastname" placeholder="Enter lastname">
            </div>

            <div>
                <label for="email">Email address</label>
                <input name="email" type="email" id="email" placeholder="Enter email">
            </div>

            <div>
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter Password">
            </div>

            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input name="confirmPassword" type="password" id="confirmPassword"
                    placeholder="Confirm your password here">
            </div>

            <button type="submit">Create Your Account</button>
        </form>
    </section>
</section>

<%- include('footer') -%>